@font-face {
	font-family: "akzidenz";
	src: url("fonts/	AkzidenzGroteskPro-LightEx.otf");
}

body {
	font-family: akzidenz;
}

#GUI {
	position: absolute;
	z-index: 5;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	color: white;
	mix-blend-mode: difference;
}

#nxtImg {
	right: 0px;
	transform: rotateZ(90deg) translate(50%);
	transform-origin: top right;
	top: 50%;
}

#prevImg {
	left: 0px;
	transform: rotateZ(-90deg) translate(-50%);
	transform-origin: top left;
	top: 50%;
}

#project {
	left: 50%;
	transform: translate(-50%);
	white-space: nowrap;
	bottom: 0px;
	text-transform: uppercase;
}

#GUI * {
	position: absolute;
	font-size: 5vh;
	pointer-events: auto;
}

#postNeon {
	left: 50%;
	transform: translate(-50%);
	font-size: 10vh;
	white-space: nowrap;
}

#subTitle {}

.scroll-container {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 5;
}

.scroll-content {
	height: 200vh;
	width: 100vw;
}